.about-project {
  width: 89.0625%;
  display: flex;
  flex-direction: column;
  padding: 110px 0;
}

.about-project__box {
  display: flex;
  padding: 70px 0 110px;
}

.about-project__description-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin: 0 0 24px;
}

.about-project__description {
  margin-right: 30px;
}

.about-project__description:last-child {
  margin-right: 0;
}

.about-project__description-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.about-project__list {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 36px);
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-project__timeline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-project__backend {
  background-color: #3ddc84;
}

.about-project__frontend {
  background-color: #303030;
}

.about-project__timeline-title {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

.about-project__timeline-title-fix {
  color: #000;
}

.about-project__timeline-fix {
  color: #8b8b8b;
}

@media all and (max-width: 800px) {
  .about-project {
    width: calc(100% - 100px);
    padding: 90px 0;
  }

  .about-project__box {
    padding: 70px 0 90px;
  }

  .about-project__description-title {
    margin: 0 0 22px;
  }

  .about-project__description-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media all and (max-width: 600px) {
  .about-project {
    width: 88.75%;
    padding: 70px 0;
  }

  .about-project__box {
    padding: 60px 0 60px;
    flex-direction: column;
    align-items: center;
  }

  .about-project__description {
    display: flex;
    flex-direction: column;
    margin: 0 0 56px;
  }

  .about-project__description:last-child {
    margin: 0;
  }

  .about-project__description-title {
    margin: 0 0 16px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__description-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline-title {
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__list {
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(2, 36px);
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
