@import url(./Greetings/Greetings.css);
@import url(./InfoTooltip/InfoTooltip.css);
@import url(./Submit/Submit.css);
@import url(./SearchForm/SearchForm.css);




.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__section {
  max-width: 396px;
  width: 396px
}

.form__input {
  background-color: #2F2F2F;
  outline: none;
  border: 1px solid #2F2F2F;
  height: 46px;
  padding: 0 15px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border-radius: 8px;
}

.form__input:focus {
  border-bottom: 1px solid #4285f4;
}

.form__label {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8b8b8b;
}

.form__error {
  height: 24px;
  color: #ee3465;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin: 5px 0 0 5px;
}

@media all and (max-width: 600px) {
  .form__section {
    width: 82%;
  }

  .form__input {
    font-weight: 500;
  }
}

@media all and (max-width: 320px) {
  .form__section {
    width: 260px;
    margin: 0 auto;
  }
}