.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #2f2f2f;
  border-radius: 10px;
}

.card__image {
  height: 201px;
  object-fit: contain;
  border-radius: 6px;
}

.card__image:hover {
  cursor: pointer;
}

.card__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px 0;
  box-sizing: border-box;
}

.card__name {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__duration {
  margin: 0;
  display: flex;
  text-align: center;
  height: 18px;
  padding: 10px 0 6px 14px;
}

.card__duration-text {
  color: #8b8b8b;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  margin: 0;
}

.card__save {
  width: 21px;
  height: 21px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  background-image: url(../../../images/saveEmpty.png);
  background-repeat: no-repeat;
  background-position: center; 
}

.card__save:hover {
  opacity: .6;
  transition: opacity .3s ease-in-out;
}

.card__delete {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #2f2f2f;
  background-image: url(../../../images/delPic.png);
  background-repeat: no-repeat;
  background-position: center;
}

.card__delete:hover {
  opacity: .7;
  transition: .1s linear;
  background-image: url(https://img.icons8.com/material-sharp/24/26e07f/delete-sign.png);
}

.card__saved {
  width: 21px;
  height: 21px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  background-image: url(../../../images/savePic.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media (max-width: 320px) {
  .card__image {
    height: 168px;
  }

  .card__name {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }
}
