.aboutMe {
  width: 89.0625%;
  display: flex;
  flex-direction: column;
  padding: 110px 0 100px;
}

.mine {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.mine__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.mine__name {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px;
}

.mine__who {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 26px;
}

.mine__description {
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
  margin: 0 0 99px;
}

.mine__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.mine__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mine__links-li {
  margin-right: 20px;
}

.mine__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}

.mine__link:hover {
  opacity: .7;
  transition: opacity .3s ease-in-out;
}

@media all and (max-width: 800px) {
  .aboutMe {
    width: calc(100% - 100px);
    padding: 90px 0;
  }

  .mine__name {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 16px;
  }

  .mine__who {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px;
  }

  .mine__description {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 87px;
  }

  .mine__photo {
    width: 255px;
    height: 307px;
  }

  .mine__info {
    max-width: 364px;
  }
}

@media all and (max-width: 600px) {
  .aboutMe {
    width: 92.5%;
  }

  .mine {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .mine__info {
    order: 1;
    padding: 0;
  }

  .mine__photo {
    order: 0;
    width: 292px;
    height: 352px;
    margin-bottom: 40px;
  }

  .mine__name {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 20px;
  }

  .mine__who {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 20px;
  }

  .mine__description {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 40px;
  }

  .mine__links-li {
    margin-right: 26px;
  }
}
