@import url(./UserMenu/UserMenu.css);
@import url(./MobileMenu/MobileMenu.css);


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar_exit {
  justify-content: flex-end;
}

.navbar__start {
  width: 44px;
  height: 44px;
  background-image: url(../../images/burger.png);
  background-size: contain;
  background-position: center;
  background-color: #202020;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
}

@media all and (max-width: 768px) {
  .navbar {
    justify-content: flex-end;
  }
}
